.top-heading {
  font-size: 3.5rem;
  color: var(--clr-primary);
  text-align: center;
  text-shadow: 0 2px 1px #333;
  background: var(--gradient-primary);
  background-clip: text;
}

hr {
  width: 50%;
}
